@use '../../variables'
@use '../../mixins'

.errorBox
  @include mixins.font
  @include mixins.border

  color: variables.$error-color
  background: variables.$background-color
  margin: variables.$item-margin

  display: flex
  align-items: start
  box-sizing: border-box

  line-height: 1.5rem
  padding: .25em
  gap: .2em

  &>span
    display: inline-flex

  &>span:first-child
    padding: .25em 0 .25em .19em

  &[hidden]
    display: none

.errorMessage
  color: variables.$error-color



