.hanko_checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    transform: rotate(45deg)
}

.hanko_checkmark .hanko_circle {
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    left: 0;
    top: 0
}

.hanko_checkmark .hanko_circle.hanko_secondary {
    border-color: hsl(var(---background-color-h, 0), var(---background-color-s, 0%), calc(var(---background-color-l, 100%) + 0%))
}

.hanko_checkmark .hanko_stem {
    position: absolute;
    width: 2px;
    height: 7px;
    background-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    left: 8px;
    top: 3px
}

.hanko_checkmark .hanko_stem.hanko_secondary {
    background-color: hsl(var(---background-color-h, 0), var(---background-color-s, 0%), calc(var(---background-color-l, 100%) + 0%))
}

.hanko_checkmark .hanko_kick {
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    left: 5px;
    top: 10px
}

.hanko_checkmark .hanko_kick.hanko_secondary {
    background-color: hsl(var(---background-color-h, 0), var(---background-color-s, 0%), calc(var(---background-color-l, 100%) + 0%))
}

.hanko_checkmark.hanko_fadeOut {
    animation: hanko_fadeOut ease-out 1.5s forwards !important
}

@keyframes hanko_fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.hanko_loadingWheel {
    box-sizing: border-box;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    border-top: 2px solid hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: hanko_spin 500ms ease-in-out infinite
}

@keyframes hanko_spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.hanko_loadingIndicator {
    display: inline-block;
    margin: 0 5px
}

.hanko_button {
    flex-grow: 1;
    outline: none;
    cursor: pointer;
    transition: .1s ease-out
}

.hanko_button:disabled {
    cursor: default
}

.hanko_button.hanko_primary {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 0%) + 0%));
    background: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    border-radius: var(--border-radius, 3px);
    height: var(--input-height, 50px);
    margin: var(--item-margin, 15px 0)
}

.hanko_button.hanko_primary:hover {
    color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 0%) + 0%));
    background: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + var(--lightness-adjust-light-dark, 2%)));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%))
}

.hanko_button.hanko_primary:focus {
    color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 0%) + var(--lightness-adjust-light-dark, 2%)));
    background: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + 0%));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + var(--lightness-adjust-light-dark, 2%)))
}

.hanko_button.hanko_primary:disabled {
    color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 0%) + var(--lightness-adjust-light-dark, 2%)));
    background: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + var(--lightness-adjust-light, 5%)));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--brand-color-h, 230), var(--brand-color-s, 100%), calc(var(--brand-color-l, 90%) + var(--lightness-adjust-light, 5%)))
}

.hanko_button.hanko_secondary {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    border-radius: var(--border-radius, 3px);
    height: var(--input-height, 50px);
    margin: var(--item-margin, 15px 0)
}

.hanko_button.hanko_secondary:hover {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + var(--lightness-adjust-dark-light, -10%)));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%))
}

.hanko_button.hanko_secondary:focus {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light-dark, 2%)))
}

.hanko_button.hanko_secondary:disabled {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light-dark, 2%)));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + var(--lightness-adjust-light-dark, 2%)));
    border-width: var(--border-width, 1.5px);
    border-style: var(--border-style, solid);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)))
}

.hanko_inputWrapper {
    position: relative;
    margin: var(--item-margin, 15px 0);
    display: flex;
    flex-grow: 1
}

.hanko_label {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    left: 0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    padding: 0 .3rem;
    margin: 0 .5rem;
    transition: .1s ease;
    transform-origin: left top;
    pointer-events: none
}

.hanko_input {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    height: var(--input-height, 50px);
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    border-style: var(--border-style, solid);
    border-width: var(--border-width, 1.5px);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    border-radius: var(--border-radius, 3px);
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    padding: 0 .7rem;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    transition: .1s ease-out
}

.hanko_input:focus+.hanko_label {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    top: 0;
    transform: translateY(-50%) scale(0.9) !important;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s
}

.hanko_input:not(:placeholder-shown)+.hanko_label {
    top: 0;
    transform: translateY(-50%) scale(0.9) !important
}

.hanko_input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%)) inset
}

.hanko_input:-webkit-autofill::first-line {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%))
}

.hanko_input::-ms-reveal,
.hanko_input::-ms-clear {
    display: none
}

.hanko_input:focus {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    border-style: var(--border-style, solid);
    border-width: var(--border-width, 1.5px);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%))
}

.hanko_input:disabled {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-dark, -30%)));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + var(--lightness-adjust-dark-light, -10%)));
    border-style: var(--border-style, solid);
    border-width: var(--border-width, 1.5px);
    border-color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-dark, -30%)))
}

.hanko_passcodeInputWrapper {
    display: flex;
    justify-content: space-between;
    margin: var(--item-margin, 15px 0)
}

.hanko_passcodeDigitWrapper {
    flex-grow: 1;
    margin: 0 10px 0 0
}

.hanko_passcodeDigitWrapper:last-child {
    margin: 0
}

.hanko_passcodeDigitWrapper input {
    text-align: center
}

.hanko_title {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    font-family: var(--font-family, sans-serif);
    font-size: var(--headline-font-size, 30px);
    font-weight: var(--headline-font-weight, 700);
    display: block;
    margin: var(--item-margin, 15px 0);
    text-align: left;
    letter-spacing: 0;
    font-style: normal
}

.hanko_content {
    box-sizing: border-box;
    flex: 0 1 auto;
    width: 100%;
    height: 100%
}

.hanko_ul {
    padding-inline-start: 0;
    list-style-type: none;
    margin: 0
}

.hanko_li {
    display: flex
}

.hanko_dividerWrapper {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    display: block;
    visibility: visible;
    margin: var(--item-margin, 15px 0);
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)))
}

.hanko_divider {
    border-bottom: var(--border-width, 1.5px) var(--border-style, solid) hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    color: inherit;
    font: inherit;
    width: 100%;
    text-align: center;
    line-height: .1em;
    margin: 0 auto
}

.hanko_divider span {
    font: inherit;
    color: inherit;
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    padding: 0 42px
}

.hanko_exclamationMark {
    width: 16px;
    height: 16px;
    position: relative;
    margin: 10px
}

.hanko_exclamationMark .hanko_circle {
    box-sizing: border-box;
    display: inline-block;
    background-color: hsl(var(--error-color-h, 351), var(--error-color-s, 100%), calc(var(--error-color-l, 59%) + 0%));
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    left: 0;
    top: 0
}

.hanko_exclamationMark .hanko_stem {
    position: absolute;
    width: 2px;
    height: 6px;
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    left: 7px;
    top: 3px
}

.hanko_exclamationMark .hanko_dot {
    position: absolute;
    width: 2px;
    height: 2px;
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    left: 7px;
    top: 10px
}

.hanko_errorMessage {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    color: hsl(var(--error-color-h, 351), var(--error-color-s, 100%), calc(var(--error-color-l, 59%) + 0%));
    background: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    border: var(--border-width, 1.5px) var(--border-style, solid) hsl(var(--error-color-h, 351), var(--error-color-s, 100%), calc(var(--error-color-l, 59%) + 0%));
    border-radius: var(--border-radius, 3px);
    padding: 5px;
    margin: var(--item-margin, 15px 0);
    display: flex;
    align-items: center;
    box-sizing: border-box
}

.hanko_errorMessage[hidden] {
    display: none
}

.hanko_footer {
    padding: var(--item-margin, 15px 0);
    box-sizing: border-box;
    width: 100%
}

.hanko_footer :nth-child(1) {
    float: left
}

.hanko_footer :nth-child(2) {
    float: right
}

.hanko_paragraph {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    text-align: left;
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    margin: var(--item-margin, 15px 0)
}

.hanko_link {
    font-weight: var(--font-weight, 400);
    font-size: var(--font-size, 16px);
    font-family: var(--font-family, sans-serif);
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light, 5%)));
    text-decoration: none;
    cursor: pointer
}

.hanko_link:hover {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + 0%));
    text-decoration: underline
}

.hanko_link.hanko_disabled {
    color: hsl(var(--color-h, 0), var(--color-s, 0%), calc(var(--color-l, 0%) + var(--lightness-adjust-light-dark, 2%)));
    pointer-events: none;
    cursor: default
}

.hanko_linkWithLoadingIndicator {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20px
}

.hanko_linkWithLoadingIndicator.hanko_swap {
    flex-direction: row-reverse
}

.hanko_container {
    background-color: hsl(var(--background-color-h, 0), var(--background-color-s, 0%), calc(var(--background-color-l, 100%) + 0%));
    padding: var(--container-padding, 0 15px);
    max-width: var(--container-max-width, 600px);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box
}
