email:
  from_address: no-reply@hanko.io
  smtp:
    host: smtp.example.com
    user: example
    password: example
secrets:
  keys:
    - abcedfghijklmnopqrstuvwxyz
service:
  name: Hanko Authentication Service
