# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# MacOS
.DS_Store

## JetBrains
.idea

hanko

.turbo
.angular

# Dependency directories (remove the comment below to include it)
node_modules
dist
e2e/test-results/
e2e/playwright-report/
e2e/playwright/.cache/
/backend/build_info/version.txt
