/* Redoc sidebar menu styles */
.redoc-wrap > .menu-content ul > li {
    margin: 0.25rem 0;
}

.redoc-wrap > .menu-content {
    padding: 8px;
}

.redoc-wrap > .menu-content ul > li > label {
    border-radius: 0.25rem;
    color: var(--ifm-menu-color);
    cursor: pointer;
    display: flex;
    line-height: 20px;
    justify-content: space-between;
    padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
}

.main-wrapper .redoc-wrap .menu-content {
    border-right: 1px solid var(--ifm-toc-border-color);
}

html[data-theme='dark'] .main-wrapper .redoc-wrap .menu-content {
    background-color: #0b0d0e;
}

.redoc-wrap .menu-content label[role=menuitem] {
    font-size: 1rem;
    align-items: center;
}

html[data-theme='dark'] .redoc-wrap .menu-content label[role=menuitem] {
    background-color: #0b0d0e;
}

html[data-theme='dark'] .redoc-wrap .menu-content label[role=menuitem] {
    font-size: 1rem;
    align-items: center;
    background-color: #0b0d0e;
}

.redoc-wrap .menu-content label[role=menuitem].active {
    background-color: var(--ifm-menu-color-background-hover) !important;
}

.redoc-wrap .menu-content label[role=menuitem]:hover {
    font-size: 1rem;
    align-items: center;
    background-color: var(--ifm-menu-color-background-hover);
}

html[data-theme='dark'] .redoc-wrap .menu-content label[role=menuitem]:hover {
    font-size: 1rem;
    align-items: center;
    background-color: var(--ifm-menu-color-background-hover);
}

.redoc-wrap .menu-content .operation-type {
    margin-top: 0;
}

.redoc-wrap .menu-content ul[role='navigation'] > li:first-child {
    margin-top: 0;
}

/* Redoc main content table styles */
.redoc-wrap > .api-content table {
    display: table;
    font-size: 13px;
}

.redoc-wrap .api-content table tr {
    border-top: none;
}

.redoc-wrap .api-content table td[kind=field] {
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-color: var(--ifm-color-primary);
}

.redoc-wrap .api-content table td[kind=field] span:first-child::before,
.redoc-wrap .api-content table td[kind=field] span:first-child::after {
    background-color: var(--ifm-color-primary)
}

.redoc-wrap .api-content table td[kind=field] + td {
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 50rem) {
    .redoc-wrap .api-content table td[kind=field] + td {
        border-left: 1px solid var(--ifm-color-primary);
    }
    html[data-theme='dark'] .redoc-wrap .api-content table td[kind=field] + td {
        border-left: 1px solid var(--ifm-color-primary);
    }
}

@media screen and (max-width: 50rem) {
    .redoc-wrap .api-content table tr.last td~td {
        border-left: none;
    }
    html[data-theme='dark'] .redoc-wrap .api-content table tr.last td~td {
        border-left: none;
    }
}

.redoc-wrap .api-content table tr.expanded + tr > td {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.redoc-wrap .api-content table table tr:nth-child(n) {
    background-color: inherit;
}

.redoc-wrap .api-content tr:first-of-type > td[kind="field"] {
    background-image: linear-gradient( to bottom, transparent 0%, transparent 22px, var(--ifm-color-primary) 22px, var(--ifm-color-primary) 100% );
    border-left-width: 0;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1px 100%;
}

.redoc-wrap .api-content tr.last > td[kind="field"] {
    background-image: linear-gradient( to bottom, var(--ifm-color-primary) 0%, var(--ifm-color-primary) 22px, transparent 22px, transparent 100% );
}

.redoc-wrap .api-content tr.last:first-child > td[kind="field"] {
    background: none;
    border-left-color: transparent;
}

.redoc-wrap .api-content table tbody tr table tbody tr > td[colspan] {
    border-left-color: var(--ifm-color-primary) !important;
}

html[data-theme='dark'] .redoc-wrap .api-content tr.last:first-child > td[kind="field"] {
    background: none;
    border-left-color: transparent;
}

html[data-theme='dark'] .redoc-wrap .api-content tr.last > td[kind="field"] {
    background-image: linear-gradient( to bottom, var(--ifm-color-primary) 0%, var(--ifm-color-primary) 22px, transparent 22px, transparent 100% );
}

html[data-theme='dark'] .redoc-wrap .api-content table caption {
    color: var(--ifm-color-white);
}

html[data-theme='dark'] .redoc-wrap .api-content table tbody tr table {
    background: none !important;
}

html[data-theme='dark'] .redoc-wrap .api-content table tbody tr table tbody tr > td[colspan] {
    border-left-color: var(--ifm-color-primary) !important;
}

html[data-theme='dark'] .redoc-wrap .api-content table tbody tr table tbody tr > td[colspan] > div {
    background: none !important;
}

/* Redoc main content misc styles */

.redoc-wrap a:hover {
    color: var(--ifm-color-primary) !important;
    text-decoration: underline !important;
}

.redoc-wrap .api-content h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

html[data-theme='dark'] .redoc-wrap .api-content h5 ~ svg {
    fill: var(--ifm-color-white);
}

.redoc-wrap .api-content h3 ~ div button:not([aria-label="expand properties"]) {
    display: flex;
    align-items: center;
}

.redoc-wrap .api-content h3 ~ div button:not([aria-label="expand properties"]) span {
    padding-left: .5em;
}

.react-tabs__tab-panel--selected button {
    display: inline-block !important;
}

/* Code styles */
.redoc-json code {
    color: #ffffff;
    background-color: transparent;
    padding: 0;
}

.redoc-wrap .api-content code {
    color: var(--ifm-color-primary);
}

.api-content pre {
    background-color: #272C30;
}


