@use "../../variables"
@use "../../mixins"

.link
  @include mixins.font

  color: variables.$link-color
  text-decoration: variables.$link-text-decoration
  cursor: pointer
  background: none!important
  border: none
  padding: 0!important
  transition: all .1s

  &:hover
    text-decoration: variables.$link-text-decoration-hover

  &:disabled
    color: variables.$color!important
    pointer-events: none
    cursor: default

  &.danger
    color: variables.$error-color

.linkWrapper
  display: inline-flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  height: 1.8rem

  &.reverse
    flex-direction: row-reverse

