@use 'default'

// Container Styles

$container-padding: var(--hanko-container-padding, default.$container-padding)
$container-background: var(--hanko-container-background, default.$container-background)
$container-max-width: var(--hanko-container-max-width, default.$container-max-width)
$container-min-width: var(--hanko-container-min-width, default.$container-min-width)
$container-max-height: var(--hanko-container-max-height, default.$container-min-height)
$container-min-height: var(--hanko-container-min-height, default.$container-min-height)
$container-border: var(--hanko-container-border, default.$container-border)
$container-border-radius: var(--hanko-container-border-radius, default.$container-border-radius)
$container-box-shadow: var(--hanko-container-box-shadow, default.$container-box-shadow)

// Text Input Styles

$text-input-height: var(--hanko-text-input-height, default.$input-height)
$text-input-margin: var(--hanko-text-input-margin, default.$item-margin)
$text-input-padding: var(--hanko-text-input-padding, default.$text-input-padding)
$text-input-font: var(--hanko-text-input-font, default.$font)
$text-input-height: var(--hanko-text-input-height, default.$input-height)
$text-input-color: var(--hanko-text-input-color, default.$text-input-color)
$text-input-color-focus: var(--hanko-text-input-color-focus, default.$text-input-color-focus)
$text-input-color-disable: var(--hanko-text-input-color-disable, default.$text-input-color-disable)
$text-input-border: var(--hanko-text-input-border, default.$text-input-border)
$text-input-border-focus: var(--hanko-text-input-border-focus, default.$text-input-border-focus)
$text-input-border-disable: var(--hanko-text-input-border-disable, default.$text-input-border-disable)
$text-input-background: var(--hanko-text-input-background, default.$text-input-background)
$text-input-background-focus: var(--hanko-text-input-background-focus, default.$text-input-background)
$text-input-background-disable: var(--hanko-text-input-background-disable, default.$text-input-background-disable)
$text-input-border-radius: var(--hanko-text-input-border-radius, default.$border-radius)

// Primary Button Styles

$primary-button-margin: var(--hanko-primary-button-margin, default.$item-margin)
$primary-button-height: var(--hanko-primary-button-height, default.$input-height)
$primary-button-font: var(--hanko-primary-button-font, default.$font)
$primary-button-color: var(--hanko-primary-button-color, default.$primary-button-color)
$primary-button-color-hover: var(--hanko-primary-button-color-hover, default.$primary-button-color)
$primary-button-color-focus: var(--hanko-primary-button-color-focus, default.$primary-button-color-focus)
$primary-button-color-disable: var(--hanko-primary-button-color-disable, default.$primary-button-color-disable)
$primary-button-border: var(--hanko-primary-button-border, default.$primary-button-border)
$primary-button-border-hover: var(--hanko-primary-button-border-hover, default.$primary-button-border-hover)
$primary-button-border-focus: var(--hanko-primary-button-border-focus, default.$primary-button-border-focus)
$primary-button-border-disable: var(--hanko-primary-button-border-disable, default.$primary-button-border-disable)
$primary-button-background: var(--hanko-primary-button-background, default.$primary-button-background)
$primary-button-background-hover: var(--hanko-primary-button-background-hover, default.$primary-button-background-hover)
$primary-button-background-focus: var(--hanko-primary-button-background-focus, default.$primary-button-background-focus)
$primary-button-background-disable: var(--hanko-primary-button-background-disable, default.$primary-button-background-disable)
$primary-button-border-radius: var(--hanko-primary-button-border-radius, default.$border-radius)

// Secondary Button Styles

$secondary-button-margin: var(--hanko-secondary-button-margin, default.$item-margin)
$secondary-button-height: var(--hanko-secondary-button-height, default.$input-height)
$secondary-button-font: var(--hanko-secondary-button-font, default.$font)
$secondary-button-color: var(--hanko-secondary-button-color, default.$secondary-button-color)
$secondary-button-color-hover: var(--hanko-secondary-button-color-hover, default.$secondary-button-color)
$secondary-button-color-focus: var(--hanko-secondary-button-color-focus, default.$secondary-button-color-focus)
$secondary-button-color-disable: var(--hanko-secondary-button-color-disable, default.$secondary-button-color-disable)
$secondary-button-border: var(--hanko-secondary-button-border, default.$secondary-button-border)
$secondary-button-border-hover: var(--hanko-secondary-button-border-hover, default.$secondary-button-border-hover)
$secondary-button-border-focus: var(--hanko-secondary-button-border-focus, default.$secondary-button-border-focus)
$secondary-button-border-disable: var(--hanko-secondary-button-border-disable, default.$secondary-button-border-disable)
$secondary-button-background: var(--hanko-secondary-button-background, default.$secondary-button-background)
$secondary-button-background-hover: var(--hanko-secondary-button-background-hover, default.$secondary-button-background-hover)
$secondary-button-background-focus: var(--hanko-secondary-button-background-focus, default.$secondary-button-background-focus)
$secondary-button-background-disable: var(--hanko-secondary-button-background-disable, default.$secondary-button-background-disable)
$secondary-button-border-radius: var(--hanko-secondary-button-border-radius, default.$border-radius)

// Custom Headline Styles

$headline-color: var(--hanko-headline-color, default.$color)
$headline-font: var(--hanko-headline-font, default.$headline-font)
$headline-display: var(--hanko-headline-display, default.$headline-display)
$headline-margin: var(--hanko-headline-margin, default.$headline-margin)

// Custom Paragraph Styles

$paragraph-margin: var(--hanko-paragraph-margin, default.$item-margin)
$paragraph-color: var(--hanko-paragraph-color, default.$color)
$paragraph-font: var(--hanko-paragraph-font, default.$font)

// Custom Divider Styles

$divider-margin: var(--hanko-divider-margin, default.$item-margin)
$divider-font: var(--hanko-divider-font, default.$font)
$divider-color: var(--hanko-divider-color, default.$divider-color)
$divider-padding: var(--hanko-divider-padding, default.$divider-padding)
$divider-border: var(--hanko-divider-border, default.$divider-border)
$divider-display: var(--hanko-divider-display, default.$divider-display)
$divider-visibility: var(--hanko-divider-visibility, default.$divider-visibility)

// Custom Error Styles

$error-margin: var(--hanko-error-margin, default.$item-margin)
$error-font: var(--hanko-error-font, default.$error-font)
$error-color: var(--hanko-error-color, default.$error-color)
$error-background: var(--hanko-error-background, default.$error-background)
$error-padding: var(--hanko-error-padding, default.$error-padding)
$error-border: var(--hanko-error-border, default.$error-border)
$error-border-radius: var(--hanko-error-border-radius, default.$border-radius)

// Custom Passcode Input Styles

$passcode-input-space-between: var(--hanko-passcode-input-space-between, default.$passcode-input-space-between)

// Custom Link Styles

$link-font: var(--hanko-link-font, default.$font)
$link-color: var(--hanko-link-color, default.$link-color)
$link-color-disable: var(--hanko-link-color-disable, default.$link-color-disable)
$link-color-hover: var(--hanko-link-color-hover, default.$link-color-hover)
$link-text-decoration: var(--hanko-link-text-decoration, default.$link-text-decoration)
$link-text-decoration-hover: var(--hanko-link-text-decoration-hover, default.$link-text-decoration)

// Custom Footer Styles

$footer-padding: var(--hanko-footer-padding, default.$item-margin)
