@use 'custom'

.button
  flex-grow: 1
  outline: none
  cursor: pointer

  &:disabled
    cursor: default

  &.primary
    font: custom.$primary-button-font
    color: custom.$primary-button-color
    background: custom.$primary-button-background
    border-width: custom.$primary-button-border-width
    border-style: custom.$primary-button-border-style
    border-color: custom.$primary-button-border-color
    border-radius: custom.$primary-button-border-radius
    height: custom.$primary-button-height
    margin: custom.$primary-button-margin

  &.primary:hover
    color: custom.$primary-button-color-hover
    background: custom.$primary-button-background-hover
    border-width: custom.$primary-button-border-width-hover
    border-style: custom.$primary-button-border-style-hover
    border-color: custom.$primary-button-border-color-hover

  &.primary:focus
    color: custom.$primary-button-color-focus
    background: custom.$primary-button-background-focus
    border-width: custom.$primary-button-border-width-focus
    border-style: custom.$primary-button-border-style-focus
    border-color: custom.$primary-button-border-color-focus

  &.primary:disabled
    color: custom.$primary-button-color-disabled
    background: custom.$primary-button-background-disabled
    border-width: custom.$primary-button-border-width-disabled
    border-style: custom.$primary-button-border-style-disabled
    border-color: custom.$primary-button-border-color-disabled

  &.secondary
    font: custom.$secondary-button-font
    color: custom.$secondary-button-color
    background: custom.$secondary-button-background
    border-width: custom.$secondary-button-border-width
    border-style: custom.$secondary-button-border-style
    border-color: custom.$secondary-button-border-color
    border-radius: custom.$secondary-button-border-radius
    height: custom.$secondary-button-height
    margin: custom.$secondary-button-margin

  &.secondary:hover
    color: custom.$secondary-button-color-hover
    background: custom.$secondary-button-background-hover
    border-width: custom.$secondary-button-border-width-hover
    border-style: custom.$secondary-button-border-style-hover
    border-color: custom.$secondary-button-border-color-hover

  &.secondary:focus
    color: custom.$secondary-button-color-focus
    background: custom.$secondary-button-background-focus
    border-width: custom.$secondary-button-border-width-focus
    border-style: custom.$secondary-button-border-style-focus
    border-color: custom.$secondary-button-border-color-focus

  &.secondary:disabled
    color: custom.$secondary-button-color-disabled
    background: custom.$secondary-button-background-disabled
    border-width: custom.$secondary-button-border-width-disabled
    border-style: custom.$secondary-button-border-style-disabled
    border-color: custom.$secondary-button-border-color-disabled
