.checkmark {
    display: inline-block;
    width: 16px;
    height: 16px;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
}

.checkmark .circle {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid white;
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 11px;
    left: 0;
    top: 0;
}

.checkmark .circle.secondary {
    border-color: lime;
}

.checkmark .stem {
    position: absolute;
    width: 2px;
    height: 7px;
    background-color: white;
    left: 8px;
    top: 3px;
}

.checkmark .stem.secondary {
    background-color: lime;
}

.checkmark .kick {
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: white;
    left: 5px;
    top: 10px;
}

.checkmark .kick.secondary {
    background-color: lime;
}

.checkmark.fadeOut {
    animation: fadeOut ease-out 1.5s forwards !important;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
