.container {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 50px 20px;
    width: 450px;
    height: 490px;
    border: 1px solid #D7DEE2;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    box-sizing: border-box;
}
