@use 'default'

.container
  background-color: default.$container-background
  padding: default.$container-padding
  min-width: default.$container-min-width
  max-width: default.$container-max-width
  min-height: default.$container-min-height
  max-height: default.$container-max-height
  border-style: default.$container-border-style
  border-width: default.$container-border-width
  border-color: default.$container-border-color
  border-radius: default.$container-border-radius

  display: flex
  flex-direction: column
  flex-wrap: nowrap
  justify-content: center
  align-items: center
  align-content: flex-start
  box-sizing: border-box
