@use 'custom'

.dividerWrapper
  display: custom.$divider-display
  visibility: custom.$divider-visibility
  margin: custom.$divider-margin

.divider
  font: custom.$divider-font
  border-bottom: custom.$divider-border

  width: 100%
  text-align: center
  line-height: 0.1em
  margin: 0 auto

  span
    color: custom.$divider-color
    background: custom.$container-background
    padding: custom.$divider-padding
