.errorMessage {
    min-height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #FF2E4C;
    background: #FF2E4C1A;
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}

[hidden] {
    display:none;
}
