@use 'default'

.inputWrapper
  position: relative
  margin: default.$item-margin
  display: flex
  flex-grow: 1

.label
  @include default.font
  background: default.$text-input-background
  color: default.$text-input-color

  position: absolute
  left: 0
  top: 50%
  transform: translateY(-50%)
  padding: 0 0.3rem
  margin: 0 0.5rem
  transition: 0.1s ease
  transform-origin: left top
  pointer-events: none

.input
  @include default.font
  height: default.$input-height
  color: default.$text-input-color
  border-style: default.$text-input-border-style
  border-width: default.$text-input-border-width
  border-color: default.$text-input-border-color
  border-radius: default.$border-radius
  background: default.$text-input-background
  padding: default.$text-input-padding

  width: 100%
  outline: none
  box-sizing: border-box
  transition: 0.1s ease-out

  &:focus + .label
    color: default.$text-input-color-focus
    top: 0
    transform: translateY(-50%) scale(0.9) !important
    opacity: 1
    transition: opacity 1s
    -webkit-transition: opacity 1s

  &:not(:placeholder-shown) + .label
    top: 0
    transform: translateY(-50%) scale(0.9) !important

  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0 50px default.$text-input-background inset

    &::first-line
      color: default.$text-input-color-focus

  // Removes native "clear text" and "password reveal" buttons from Edge
  &::-ms-reveal, &::-ms-clear
    display: none

  &:focus
    color: default.$text-input-color-focus
    border-style: default.$text-input-border-style-focus
    border-width: default.$text-input-border-width-focus
    border-color: default.$text-input-border-color-focus

  &:disabled
    color: default.$text-input-color-disabled
    background: default.$text-input-background-disabled
    border-style: default.$text-input-border-style-disabled
    border-width: default.$text-input-border-width-disabled
    border-color: default.$text-input-border-color-disabled

.passcodeInputWrapper
  display: flex
  justify-content: space-between
  margin: default.$item-margin

.passcodeDigitWrapper
  flex-grow: 1
  margin: 0 default.$passcode-input-space-between 0 0

  &:last-child
    margin: 0

  input
    text-align: center
