.link {
    color: #688293;
    text-decoration: none;
    cursor: pointer;
}

.link.disabled {
    pointer-events: none;
    cursor: default;
}

.link.left {
    float: left;
}

.link.right {
    float: right;
}
