body {
  color: white;
  margin: 0;
  background: url("/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

hanko-auth::part(form-item) {
  min-width: 100%; /* input fields and buttons are on top of each other  */
}

.content {
  padding: 24px;
  border-radius: 17px;
  color: black;
  background-color: white;
  width: 100%;
  max-width: 500px;
  min-width: 330px;
  margin: 10vh auto;
}

.error {
  color: red;
  padding: 0 0 10px;
}


.button {
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}

.button:disabled {
  color: grey !important;
  cursor: default;
  text-decoration: none !important;
}

.nav {
  width: 100%;
  padding: 10px;
  opacity: 0.9;
}


.nav .button:hover {
  text-decoration: underline;
}

.nav .button {
  color: white;
  float: right;
}
