@use '../../variables'

// Checkmark Styles

.checkmark
  display: inline-block
  width: 16px
  height: 16px
  transform: rotate(45deg)

  .circle
    box-sizing: border-box
    display: inline-block
    border-width: 2px
    border-style: solid
    border-color: variables.$brand-color
    position: absolute
    width: 16px
    height: 16px
    border-radius: 11px
    left: 0
    top: 0

    &.secondary
      border-color: variables.$color-shade-1

  .stem
    position: absolute
    width: 2px
    height: 7px
    background-color: variables.$brand-color
    left: 8px
    top: 3px

    &.secondary
      background-color: variables.$color-shade-1

  .kick
    position: absolute
    width: 5px
    height: 2px
    background-color: variables.$brand-color
    left: 5px
    top: 10px

    &.secondary
      background-color: variables.$color-shade-1

  &.fadeOut
    animation: fadeOut ease-out 1.5s forwards !important

@keyframes fadeOut
  0%
    opacity: 1

  100%
    opacity: 0

// ExclamationMark Styles

.exclamationMark
  width: 16px
  height: 16px
  position: relative
  margin: 5px

  .circle
    box-sizing: border-box
    display: inline-block
    background-color: variables.$error-color
    position: absolute
    width: 16px
    height: 16px
    border-radius: 11px
    left: 0
    top: 0

  .stem
    position: absolute
    width: 2px
    height: 6px
    background: variables.$background-color
    left: 7px
    top: 3px

  .dot
    position: absolute
    width: 2px
    height: 2px
    background: variables.$background-color
    left: 7px
    top: 10px

// Loading Spinner Styles

.loadingSpinnerWrapper
  display: inline-block
  margin: 0 5px

  .loadingSpinner
    box-sizing: border-box
    display: inline-block
    border-width: 2px
    border-style: solid
    border-color: variables.$background-color
    border-top: 2px solid variables.$brand-color
    border-radius: 50%
    width: 16px
    height: 16px
    animation: spin 500ms ease-in-out infinite

    &.secondary
      border-color: variables.$color-shade-1
      border-top: 2px solid variables.$color-shade-2

@keyframes spin
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)
