{{define "layout"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Subject}}</title>
</head>
<body style="margin: 20px; padding: 0; font-size: 12px; font-family: Arial, sans-serif; font-weight: 400; background-color: #f4f4f4;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td align="center">
                <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 460px; background-color: #ffffff; padding: 20px; margin: 0; box-sizing: border-box;">
                    <!-- Header -->
                    <tr>
                        <td valign="top" height="80">{{.ServiceName}}</td>
                    </tr>
                    <!-- Content -->
                    <tr>
                        <td>{{template "content" .}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
{{end}}

{{define "code"}}
<div style="font-size: 34px; font-weight: 500; letter-spacing: 3.4px; margin: 20px 0 20px 0;">{{.}}</div>
{{end}}
