name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.20'

    - name: Build
      working-directory: ./backend
      run: |
        go generate ./...
        go build -v ./...

    - name: Test
      working-directory: ./backend
      run: go test -v ./...
